[Unit]
Description=Mesos Agent

[Service]
EnvironmentFile=-/etc/mesos/environment
ExecStart=/usr/sbin/mesos-agent
User=root
Group=root

[Install]
WantedBy=multi-user.target
