[Service]
EnvironmentFile=/etc/kubernetes/environment
ExecStart=/usr/bin/kube-scheduler --kubeconfig=/etc/kubernetes/kubeconfig
Restart=on-failure

[Install]
WantedBy=default.target
