[Unit]
After=myip.service
Wants=myip.service

[Service]
EnvironmentFile=/etc/myip
EnvironmentFile=/etc/kubernetes/environment
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/usr/bin/kubelet --pod-manifest-path=/etc/kubernetes/manifests --kubeconfig=/etc/kubernetes/kubeconfig --node-ip=${MYIP} --fail-swap-on=false
Restart=on-failure

[Install]
WantedBy=default.target
