[Service]
EnvironmentFile=/etc/kubernetes/environment
ExecStart=/usr/bin/kube-apiserver --etcd-servers=${ETCD_SERVERS} --service-cluster-ip-range=${SERVICE_CLUSTER_IP_RANGE}
Restart=on-failure

[Install]
WantedBy=default.target
